<div [formGroup]="localForm">
    <div class="mt-3">
        <h2>
            Vehicles
        </h2>
        <br>
        <button class="btn btn-primary"
                (click)="redirectNewVehicle()"
                >
            New vehicle
        </button>
        <br>
        <br>
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <div class="form-group">  
                <label for="makeSelect">Make</label>
                <select id="makeSelect" 
                        class="form-control " 
                        [(ngModel)]="filter.makeId" 
                        (change)="onFilterChange()" 
                        formControlName="make" >
                    <option value=""></option>
                    <option *ngFor="let m of makes" 
                            value="{{ m.id }}" 
                            >{{ m .name }}</option>
                </select>
            </div>
            <button class="btn btn-outline-primary" (click)="resetFilter()">Reset</button>
        </div>

        <div class="mt-3">
            <table class="table table-bordered">
                <thead>
                    <td>
                        Make
                    </td>
                    <td>
                        Model
                    </td>
                    <td>
                        Contact
                    </td>
                    <td>
                    </td>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vehicleList">
                        <td>
                            {{ v.make?.name }}
                        </td>
                        <td>
                            {{ v.model?.name }}
                        </td>
                        <td>
                            {{ v.contact?.name }}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary"
                                    (click)="redirectDetailsVehicle(v.id)"
                                    >
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>