<div [formGroup]="localForm">
    <div class="mt-3">
        <h2>
            Vehicles
        </h2>
        <br>
        <button class="btn btn-primary"
                (click)="redirectNewVehicle()"
                >
            New vehicle
        </button>
        <br>
        <br>
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <div class="form-group">  
                <label for="makeSelect">Make</label>
                <select id="makeSelect" 
                        class="form-control " 
                        [(ngModel)]="query.makeId" 
                        (change)="onFilterChange()" 
                        formControlName="make" >
                    <option value=""></option>
                    <option *ngFor="let m of makes" 
                            value="{{ m.id }}" 
                            >{{ m .name }}</option>
                </select>
            </div>
            <div class="mt-1">
                <button class="btn btn-outline-primary" (click)="resetFilter()">Reset</button>
            </div>
        </div>

        <div class="mt-3">
            <table class="table table-bordered border-dark">
                <thead>
                    <tr>
                        <th> 
                            <div (click)="sortBy('make')">
                                <div class="row">
                                    <div class="col-8">
                                        Make 
                                    </div>
                                    <div class="col-4 align-content-start">
                                        <div *ngIf="query.sortBy==='make'">
                                            <i class="bi" 
                                            [class.bi-arrow-up-short]="query.isSortAscending"
                                            [class.bi-arrow-down-short]="!query.isSortAscending"
                                            ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="row" (click)="sortBy('model')">
                                <div class="col-8">Model</div>
                                <div class="col-4 align-content-start"> 
                                    <div *ngIf="query.sortBy==='model'">
                                        <i class="bi"
                                        [class.bi-arrow-up-short]="query.isSortAscending"
                                        [class.bi-arrow-down-short]="!query.isSortAscending"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                            
                        </th>
                        <th>
                            <div class="row" (click)="sortBy('contactName')">
                                <div class="col-8">
                                    Contact
                                </div>
                                <div class="col-4 align-content-start">
                                    <div *ngIf="query.sortBy==='contactName'">
                                        <i class="bi"
                                        [class.bi-arrow-up-short]="query.isSortAscending"
                                        [class.bi-arrow-down-short]="!query.isSortAscending"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                            
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vehicleList.items">
                        <td>
                            {{ v.make?.name }}
                        </td>
                        <td>
                            {{ v.model?.name }}
                        </td>
                        <td>
                            {{ v.contact?.name }}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary"
                                    (click)="redirectEditVehicle(v.id)"
                                    >
                                Edit
                            </button>
                            <button class="btn btn-outline-primary"
                                    (click)="redirectDetailsVehicle(v.id)"
                                    >
                                Details
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <app-pagination [total-items]="vehicleList.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></app-pagination>
        </div>
    </div>
</div>